<h2>Login</h2>

<%= form_for @conn, session_path(@conn, :login),  fn f -> %>
	Username: <%= text_input f, :username %>
	<br/>
	Password: <%= password_input f, :password %>
	<br/>
	<%= submit "Login" %>
<% end %>